body{
    background-color: black;
    color: aliceblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
nav{
    display: flex;
    background-color: #282727;
    margin: 0;
    height: 5%;
    padding: 10px 35px;
}
a{
    display: flex;
    text-decoration-line: none;
    color: aliceblue;
    width: fit-content;
    height: fit-content;
}
.nav-elem{
    vertical-align: middle;
}
.nav-products{
    text-align: right;
    margin: 0 0 0 auto;
}
.quote-holder{
    background-image: url("images/bg-oversea-img.jpg");
    background-size: cover;
    padding: 200px 0;
    text-align: justify;
    text-align-last:center;
}
.quote{
    width: 700px;
    margin: 0 auto;
    margin-bottom: 100px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: italic;
    font-size: 40px;
    color: black;
    max-width: fit-content;
}
h1{
    margin: 0;
    padding: 0;
}
.icon{
    width: 35px;
    height: 35px;
}
.blank-space{
    height: 70px;
}
.products{
    margin-top: 130px;
    margin-bottom: 15px;
    padding: 0 120px;
}
.heading{
    font-size: 80px;
}
ul{
    list-style-type: none;
    font-size: 50px;
    margin: 0;
}
li{
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width:fit-content;
    font-weight: 400;
    font-style: normal;
    font-family: "Concert One", sans-serif;
    max-width: fit-content;
}
.grad-1{
    background-image: linear-gradient(90deg, rgb(233, 115, 47), #fc326c);
    margin: 20px 0;
}
.grad-2{
    background-image: linear-gradient(90deg, #fc326c, #6441e2);
    margin: 20px 60% 20px auto;
}
.grad-4{
    background-image: linear-gradient(90deg, #a15af0, #105ffb);
    margin: 20px 20% 20px auto;
}
.grad-5{
    background-image: linear-gradient(90deg, #00b6e0, #12e3a3);
    margin: 20px 0 20px auto;
}
.grad-3{
    -webkit-text-fill-color: #404040;
    margin: 20px auto;
    min-width: 350px;
}
.catalog{
    width: 100%;
    height: fit-content;
    margin: 60px auto;
    padding: 20px 40px;
    border-radius: 18px;
    background-color: #282727;
    display: flex;
}
.listing{
    width: 200px;
    padding: auto;
    margin: 0 20px;
    text-align: center;
    align-items: center;
}
.product-icon{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin: 5px 25px;
}
.caption{
    font-size: 14px;
    font-family:'Times New Roman', Times, serif;
    text-align: justify;
    text-align-last: center;
    margin: 0 auto;
}