
body{
    background-color: black;
    color:aliceblue;
}
.hero{
    text-align: center;
    padding: 180px 0;
}   
.atten-grab{
    margin: 0 auto;
    padding: 0 1.6vw;
    font-size: 4.0625rem;
    max-width: 670px;
}
.capt{
    color: #ccc;
    font-size: 1.125rem;
    margin: 20px auto 40px;
    padding: 0 1.6vw;
    max-width: 600px;
}
.ctv{
    margin: 20px auto 0;
    padding: 5px ;
    width: 17.5rem;
    height: 40px;
    border-radius: 25px;
    background-color: #282727;
    transform: scale(1);
    transition: all 500ms ease-in-out;
    /* transition: opacity translateY 1s ease-in-out; */
    /* transition: all 2s; */
}
.asma-logo{
    height: 2rem;
    width: 2rem;
    margin: auto 5px auto auto;
}
.ctv:hover{
    transform: scale(1.2);
}
.ctv-text{
    margin: auto auto auto 5px;
    font-size: 1.125rem;
}
.vid{
    padding: 0 0 24vh;
}
.vid-inner{
    align-content: center;
    width: 80%;
    /* min-width: 450px; */
    height: 81.2vh;
    margin: 5.33vh auto 0;
    border-radius: 50px;
    background-color: white;
}
.vid-asma{
    display: flex;
    margin: 0 auto;
    aspect-ratio: 1.77;
    width: 60%;
    height: auto;
}
h2{
    font-size: 3.75rem;
    margin: 0 auto 30px 10%;
    padding: 10px;
    width: fit-content;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 400;
    font-style: oblique;
    font-family: "Concert One", sans-serif;
}
em{
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-image: linear-gradient(to left, red, rgb(248, 55, 87))
}
.vid-header{
    /* background-image: linear-gradient(45deg, #fb6327, #ffa51d); */
    background-image: linear-gradient(to left, rgb(250, 30, 30), #f45124);
}
.benefits{
    background-color: white;
    color: black;
    padding: 10vh 0;
}
.benefits-header{
    background-color: black;
}
.benefits-inner{
    display: flex;
    flex-wrap:wrap;
    width: 85%;
    margin: 0 auto;
}
.benefits-sect{
    background-color: #ddd;
    height: 81.2vh;
    margin: 0 auto 40px;
    border-radius: 18px;
    text-align: center;
    width: 320px;
}
.benefits-text{
    font-size: 1.25rem;
    max-width: 200px;
    min-width: 150px; 
    height: 10.15vh;
    margin: 10px auto;
    align-content: center;
}
.benefits-vid{
    object-fit: cover;
    aspect-ratio: 0.678;
    border-radius: 15px;
    /* height: auto;
    width: 90%; */
    height: 72%;
    width: auto;
}
.features{
    background-color: white;
    padding: 10vh 10px;
}
.features-header{
    /* background-image: linear-gradient(to left, #282727, #999); */
    /* background-image: linear-gradient(90deg, #fc326c, #6441e2); */
    background-color: black;
}
.features-inner{
    display: flex;
    flex-wrap: wrap;
    background-color: black;/*make the section not look so boring; icons maybe */
    width: 80%;
    margin: 0 auto;
    padding: 0 20px;
    border-radius: 50px;
    padding-bottom: 13.54vh;
}
.features-sect{
    height: 20.3vh;
    width: 450px;
    margin: 5.33vh auto;
    display: flex;
    border:#282727 10px double;
    border-radius: 20px;
}
.features-text{
    font-size: 1.5625rem;
    background-image: linear-gradient(to left, #404040, #282727);
    color: aliceblue;
    margin: 0;
    min-width: 170px;
    text-align: center;
    align-content: center;
}
.features-info{
    font-size: 1.125rem;
    margin: 0;
    padding: 0 15px;
    text-align: center;
    align-content: center;
}
.setup{
    background-color: black;
    padding: 6.77vh 0;
}
.setup-header{
    background-image: linear-gradient(to left, #3b71ff, #1da5ff);
}
.setup-list{
    width: 70%;
    margin: 0 auto;
    padding: 30px 0;
    list-style: none;
    counter-reset: item;
}
li{
    display: flex;
}
.setup-list li::before{
    display: inline-block;
    content: counter(item);
    counter-increment: item;
    border: white solid 6px;
    border-radius: 100%;
    font-size: 1.875rem;
    min-width: 60px;
    max-width: 60px;
    min-height: 60px;
    max-height: 60px;
    text-align: center;
    align-content: center;
}
.setup-sect{
    margin: 0 auto 10.15vh;
}
.setup-text{
    font-size: 3.125rem;
    margin: 0;
    max-width: 648px;
    text-align: center;
    color: #eee;
}
.setup-apikey{
    color: red;
    font-size: 1.25rem;
    margin: 10px auto;
    text-decoration-line: underline;
}
.pricing{
    padding: 6.77vh 0;
}
.pricing-header{
    /* background-image: linear-gradient(to left, rgb(134, 246, 22), rgb(16, 236, 78)); */
    background-image: linear-gradient(90deg, #00b6e0, #25aef8);
    margin-bottom: 15px;
}
.pricing-holder{
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: 0 auto;
}
.pricing-img{
    display: block;
    width: auto;
    max-height: 84vh;
    border-radius: 20px;
    margin: 0 auto 40px;
    align-content: center;
}
.pricing-text-box{
    width: 400px;
    align-content: center;
    margin: 0 auto;
}
.pricing-text{
    margin: 0 auto 8.12vh;
    font-size: 1.875rem;
    text-align: center;
    text-align-last: right;
    align-content: center;
    color: aliceblue;
}
.contact{
    padding: 6.77vh 0;
}
.contact-header{
    background-image: linear-gradient(45deg, #fb6327, #ffa51d);
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 10px;
}
.contact-vid{
    display: block;
    width: 55%;
    height: auto;
    margin: 4.06vh auto;
    border-radius: 15px;
}
.contact-text{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    color: aliceblue;
    font-size: 1.875rem;
    margin: 3.38vh auto;
    width: 70%;
}
.contact-link{
    text-decoration-line: underline;
    transition: color 250ms ease-in-out;
}
.contact-link:hover{
    color: #282727;
}

@media (max-width: 768px) {
    html{
        font-size: 13px;
    }
    .vid-inner{
        height: 70vh;
    }
    .vid-asma{
        height: 75%;
        width: auto;
        aspect-ratio: 0.7;
    }
    .features-text{
        min-width: 130px;
    }
    .pricing-img{
        max-height: 70vh;
    }
    .contact-vid{
        width: 85%;
    }
    .setup-list{
        margin: 0 auto;
    }
}

@media (max-width: 400px){
    html{
        font-size:11px;
    }
    .pricing-img{
        max-height: 60vh;
    }
    .vid-asma{
        height: 60%;
    }
}

@media (min-width: 1210px){

    .sticky-btn{
        position: fixed;
        left: calc(50% - 8.75rem);
        bottom: 4vh;
        transform: scale(0.9);
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

    .hidden{
        display: none;
    }

    .persist{
        opacity: 60%;
        display: flex;
    }
}

/* font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: ?; */

    /* font-weight: ?;
    font-style: normal;
    font-family: "Concert One", sans-serif; */